@using PrivateHospital.Models

@model CustomerRecordModel

@{
    ViewBag.Title = "Консультация";
}

<h2>Консультация</h2>

<table class="table">
    <tr>
        <th>Клиент</th>
        <th>Консультация</th>
        <th>Стоимость</th>
        <th>Доктор</th>
        <th>Дата консультации</th>
        <th>Статус выполнения</th>
        <th>Статус оплаты</th>
        <th>Действия</th>
    </tr>
    @if (Model != null)
    {
        <tr>
            <td>
                @(Model.Clients.FirstOrDefault(item => item.Id == Model.ClientId)?.LastName)
                @(Model.Clients.FirstOrDefault(item => item.Id == Model.ClientId)?.FirstName)
            </td>
            <td>@Model.Type</td>
            <td>@Model.Cost</td>
            <td>
                @(Model.Doctors.FirstOrDefault(item => item.Id == Model.DoctorId)?.LastName)
                @(Model.Doctors.FirstOrDefault(item => item.Id == Model.DoctorId)?.FirstName)
            </td>
            <td>@Model.DateAndTimeOfRecord</td>
            <td>@Model.Status</td>
            <td>@Model.PaymentState</td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "CustomerRecord", new { id = @Model.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Изменить", "Edit", "CustomerRecord", new { id = @Model.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
<br>
@if (Model.Consultation != null)
{
    <table class="table_receipt">
        <caption>Квитанция</caption>
        <tr>
            <th>Клиент</th>
            <td>@Model.Consultation.Client</td>
        </tr>
        <tr>
            <th>Услуга</th>
            <td>@Model.Consultation.TypeConsultation</td>
        </tr>
        <tr>
            <th>Доктор</th>
            <td>@Model.Consultation.Doctor</td>
        </tr>
        <tr>
            <th>Дата выполнения</th>
            <td>@Model.Consultation.Date</td>
        </tr>
        <tr>
            <th>Стоимость</th>
            <td>@Model.Consultation.Cost грн</td>
        </tr>
    </table>
    <br>
}
@Html.ActionLink("Назад", "Index", "CustomerRecord", new { @class = "btn btn-default" })
