@using PrivateHospital.Models

@model IEnumerable<PurposeModel>

@{
    ViewBag.Title = "Назначения";
}

<h2>Назначения</h2>

<table class="table">
    <tr>
        <th>Клиент</th>
        <th>Услуга</th>
        <th>Назначивший врач</th>
        <th>Дата назначения</th>
        <th>Выполнивший врач</th>
        <th>Дата выполнения</th>
        <th>Статус оплаты</th>
        <th>Действия</th>
    </tr>
    @if (Model != null)
    {
        foreach (PurposeModel purpose in Model)
        {
            <tr>
                <td>
                    @(purpose.Clients.FirstOrDefault(item => item.Id == purpose.ClientId)?.LastName)
                    @(purpose.Clients.FirstOrDefault(item => item.Id == purpose.ClientId)?.FirstName)
                </td>
                <td>@(purpose.Services.FirstOrDefault(item => item.Id == purpose.ServiceId)?.NameService)</td>
                <td>
                    @(purpose.Doctors.FirstOrDefault(item => item.Id == purpose.DoctorPurposeId)?.LastName)
                    @(purpose.Doctors.FirstOrDefault(item => item.Id == purpose.DoctorPurposeId)?.FirstName)
                </td>
                <td>@purpose.DatePurposeService.ToShortDateString()</td>
                <td>
                    @(purpose.Doctors.FirstOrDefault(item => item.Id == purpose.DoctorPerformId)?.LastName)
                    @(purpose.Doctors.FirstOrDefault(item => item.Id == purpose.DoctorPerformId)?.FirstName)
                </td>
                <td>@purpose.DatePerformService.ToShortDateString()</td>
                <td>@purpose.PaymentState</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Purpose", new { id = @purpose.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", "Purpose", new { id = @purpose.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Edit", "Edit", "Purpose", new { id = @purpose.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    }
</table>
@Html.ActionLink("Add", "Add", "Purpose", new { @class = "btn btn-default" })
