@{
    ViewBag.Title = "Главная";
}
<div class="jumbotron">
    <h1>Частная клиника - Твой доктор</h1>
    <p class="lead">
        <table class="table-border-wide">
            <tr>
                <td>
                    @Html.ActionLink("Работа с отделениями в клинике", "Index", "Specialization", null, new { @class = "s6" })
                </td>
                <td>
                    @Html.ActionLink("Работа с докторами в клинике", "Index", "Doctor", null, new { @class = "s6" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Работа с клиентами в клинике", "Index", "Client", null, new { @class = "s6" })
                </td>
                <td>
                    @Html.ActionLink("Работа с услугами в клинике", "Index", "Service", new { @class = "s6" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Работа с назначением клиентам услуг", "Index", "Purpose", new { @class = "s6" })
                </td>
                <td>
                    @Html.ActionLink("Работа с записью клиента на консультацию", "Index", "CustomerRecord", new { @class = "s6" })
                </td>
            </tr>
        </table>
    <p>
    </p>
    <div id="matrix"></div>
    <p>
        <div id="solution"></div>
    </p>
</div>