@using PrivateHospital.Models

@model ClientModel

@{
    ViewBag.Title = "Клиент";
}

<h2>Информация о клиенте</h2>

<table class="table">
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Адрес</th>
        <th>Дата рождения</th>
        <th>Номер телефона</th>
        <th>Скидка</th>
        <th>Кол-во денег, оставленных клиентом</th>
        <th>Действия</th>
    </tr>
    @if (Model != null)
    {
        <tr>
            <td>@Model.LastName</td>
            <td>@Model.FirstName</td>
            <td>@Model.MiddleName</td>
            <td>@Model.Address</td>
            <td>@Model.Birthday.ToShortDateString()</td>
            <td>@Model.Phone</td>
            <td>@Model.Discount</td>
            <td>@Model.SumAllMoney</td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Client", new { id = @Model.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Изменить", "Edit", "Client", new { id = @Model.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
<br>
@Html.ActionLink("Назад", "Index", "Client", new { @class = "btn btn-default" })
