@using PrivateHospital.Models

@model ClientModel

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

@{
    ViewBag.Title = "Клиент";
}

<h2>Изменить данные о клиенте</h2>

@using (Html.BeginForm("Edit", "Client", FormMethod.Post))
{
    @Html.Label("Фамилия", htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.LastName)
    <br>
    @Html.Label("Имя", htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FirstName)
    <br>
    @Html.Label("Отчество", htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.MiddleName)
    <br>
    @Html.Label("Адрес", htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Address)
    <br>
    @Html.Label("Дата рождения", htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", type = "date" } })
    @Html.ValidationMessageFor(model => model.Birthday)
    <br>
    @Html.Label("Номер телефона", htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", type = "tel", pattern = "380[0-9]{2}-[0-9]{3}-[0-9]{4}" } })
    @Html.ValidationMessageFor(model => model.Phone)
    <br>
    @Html.Label("Скидка", htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", type = "text" } })
    @Html.ValidationMessageFor(model => model.Discount)
    <br>
    <input type="submit" class="btn btn-primary" value="Сохранить">
}
<br>
@Html.ActionLink("Назад", "Index", "Client", new { @class = "btn btn-default" })